.main-container{
  margin: 50px;
}
.min-height-600{
  margin: 50px;
  min-height: 600px;
}
.no-flex-wrap{
  flex-wrap: inherit!important;
}
.mr-0  {
   margin-right: 0;
 }
.ml-0 {
  margin-left: 0;
}
.pl-0  {
   padding-left: 0;
 }
.pr-0 {
  padding-right: 0;
}
