<div class="row m-lg-0">
  <div class="card col-md-4 text-cente m-lg-3">
    <div class="col">
      <div class="mb-3 mt-3">
        <img src="assets/img/luna.jpeg" width="200px;" height="200px;" class="rounded-circle"/>
      </div>
      <div class="mb-3">
        <h2>Nom Prénom</h2>
        <small class="form-text text-muted">Adresse, Ville, 12345</small>
      </div>
      <div class="mb-3">
        <button type="button" class="btn btn-primary me-3">
          <i class="fas fa-pencil-alt"></i>&nbsp;
          Modifier
        </button>
        <button type="button" class="btn btn-warning" (click)="modifierMotDePasse()">
          <i class="fas fa-lock"></i>&nbsp;
          Changer le mot de passe
        </button>
      </div>
    </div>
  </div>
  <div class="card col-md-7 m-lg-3">
    <table class="table">
      <tbody>
      <tr>
        <th scope="row">Nom complet</th>
        <td>NOUPA Audrey</td>
      </tr>
      <tr>
        <th scope="row">E-MAIL</th>
        <td>devalerek@gmail.com</td>
      <tr>
        <th scope="row">Téléphone</th>
        <td colspan="2">+237 676 467 228</td>
      </tr>
      <tr>
        <th scope="row">Adresse</th>
        <td colspan="2">Adresse, Ville, 12345 & Luna</td>
      </tr>
      <tr>
        <th scope="row">Entreprise</th>
        <td colspan="2">Audrey & Maéva</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
