<!-- datails article-->
<div class="row mb-1 mr-0 custom-border">
  <div class="col-md-3 custom-border-right mb-1 mt-1">
    <div class="row text-center">
      <div class="col-md-11">Code article</div>
    </div>
  </div>
  <!--end datails article-->


  <!-- datails categories-->
  <div class="col-md-3 custom-border-right mb-1 mt-1">
    <div class="row">
      <div class="col-md-12 text-center">
        Désignation article
      </div>
    </div>
  </div>


  <div class="col-md-2 custom-border-right mb-1 mt-1">
    <div class="row">
      <div class="col-md-12 text-center">
        7
      </div>
    </div>
  </div>
  <div class="col-md-2 custom-border-right mb-1 mt-1">
    <div class="row">
      <div class="col-md-12 text-center">
        45,44
      </div>
    </div>
  </div>
  <!--end datails categories-->


  <!-- boutons action -->
  <div class="col-md-2 mb-1 mt-1">
    <div class="row text-center">
      <h5>4534,21</h5>
    </div>
  </div>
  <!--end boutons action-->
</div>

